@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

a:focus-visible,
button:focus,
button:focus-visible,
svg:focus {
  @apply outline-none;
}

li {
  @apply list-none;
}
